.converted-text {
  padding: 10px;
  white-space: pre-wrap;
  min-width: 100%;
  min-height: 400px;
  background: #F2F2F2;/* Gray 6 */
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.copy-btn {
  height: 30px;
  padding: 0 10px;
  margin: 4px 22px 0 0;
}

.converted-text-block {
  max-height: 600px;
  overflow-y: scroll;
}
