<div class="container">
  <div class="row">
    <div class="col-6 p-0">
      <div class="input-group">
        <input type="file" class="form-control" (change)="onFileSelected($event)">
        <button
          class="input-group-text btn"
          [class.btn-outline-primary]="isFileEmpty"
          [class.btn-primary]="!isFileEmpty"
          [disabled]="isFileEmpty"
          (click)="processFile()">Обработать
        </button>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col input-group p-0">
      <select class="form-select" [(ngModel)]="selectedPatternId" (change)="onPatternChange()">
        <option *ngFor="let userPattern of userSettings.userPatterns"
                [value]="userPattern.id">{{userPattern.name}}</option>
      </select>
      <button class="btn btn-outline-secondary" [routerLink]="['/settings']">
        <i class="bi bi-gear"></i>
      </button>
    </div>
  </div>
</div>
<app-converted-text [text]="convertedText"></app-converted-text>
