<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="input-group">
        <input type="file" class="form-control" (change)="onFileSelected($event)">
        <button class="input-group-text btn" [class.btn-outline-primary]="isFileEmpty" [class.btn-primary]="!isFileEmpty" [disabled]="isFileEmpty" (click)="processFile()">Обработать</button>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col input-group">
      <select class="form-select" aria-label="Default select example">
        <option *ngFor="let userPattern of userPatterns">{{userPattern.Name}}</option>
      </select>
      <button class="btn btn-outline-secondary">
        <i class="bi bi-gear"></i>
      </button>
    </div>
  </div>
</div>
<div class="position-relative">
  <button class="btn btn-outline-primary m-2 position-absolute end-0" style="height: 30px; padding: 0 10px">
    <i class="bi bi-clipboard"></i>
  </button>
  <pre style="margin-top: 10px; padding:10px; white-space: pre-wrap; min-width: 100%; min-height: 400px; /* Gray 6 */ background: #F2F2F2; box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 12px; ">{{convertedText}}</pre>
</div>
