body {

}

span{

}

/*td:first-of-type {
  padding: 0 14px 0 14px!important;
}

td {
  padding: 0 14px 0 0!important;
}*/

td{
  vertical-align: middle;
}

td > input{
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 2px 4px;
  width: 100%;
}

table select{
  padding: 2px 4px;
  font-size: 14px;
}


