<table class="table mt-4">
  <thead>
  <tr>
    <th scope="col">Название</th>
    <th scope="col">Значение</th>
    <th scope="col">Заменяемое значение</th>
    <th scope="col">Приоритет</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of dataSource">
    <td>
      <input type="text" [(ngModel)]="row.name">
    </td>
    <td>
      <input type="text" [(ngModel)]="row.value">
    </td>
    <td>
      <input type="text" [(ngModel)]="row.templateValue">
    </td>
    <td>
      <select class="form-select" [(ngModel)]="row.elementSortingOrder">
        <option *ngFor="let sortingOrder of sortingOrders" [value]="sortingOrder">{{sortingOrder == "BeforeText" ? "Перед текстом" : (sortingOrder == "Template" ? "Замена" : "После текста") }}</option>
      </select>
    </td>
    <td>
      <button class="btn btn-danger" (click)="removeElement(row)">
        <i class="bi bi-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
