<div>
  <div class="d-grid gap-2 w-50">

    <span>Стандартные элементы</span>

    <div class="form-floating">
      <input type="number" class="form-control" [(ngModel)]="userSettings.textLengthBeforeCut" id="floatingInputtextLengthBeforeCut" placeholder="_" value="_">
      <label for="floatingInputtextLengthBeforeCut">Количество символов перед CUT</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" [(ngModel)]="userSettings.cutElement" id="floatingInputcutElement" placeholder="_" value="_">
      <label for="floatingInputcutElement">CUT</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" [(ngModel)]="userSettings.paragraphElement" id="floatingInputparagraphElement" placeholder="_" value="_">
      <label for="floatingInputparagraphElement">Абзац</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" [(ngModel)]="userSettings.paragraphCenterAlignClass" id="floatingInputparagraphCenterAlignClass" placeholder="_" value="_">
      <label for="paragraphCenterAlignClass">Класс для абзацев по центру</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" [(ngModel)]="userSettings.listElement" id="floatingInputlistElement" placeholder="_" value="_">
      <label for="floatingInputlistElement">Нумерованный\маркированный список</label>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Значение</th>
        <th scope="col">Шаблон</th>
        <th scope="col">Приоритет</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customUserElement of userSettings.sharedCustomUserElements">
        <th scope="row">
          <input type="text" value="{{customUserElement.name}}"/>
        </th>
        <td>
          <input type="text" value="{{customUserElement.value}}"/>
        </td>
        <td>
          <input type="text" value="{{customUserElement.templateValue}}"/>
        </td>
        <td>
          {{customUserElement.elementSotringOrder}}
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <span>Общие для всех шаблонов элементы</span>

    <div *ngFor="let customUserElement of userSettings.sharedCustomUserElements">
      <customUserElement [element]="customUserElement"></customUserElement>
    </div>
  </div>

  <div>
    <span>Шаблоны</span>
    <select class="form-select" [(ngModel)]="selectedPatternId" (change)="onPatternChange()">
      <option *ngFor="let userPattern of userSettings.userPatterns" [value]="userPattern.id">{{userPattern.name}}</option>
    </select>

    <div class="mt-1">
      <span>Кастомные элементы для шаблона</span>
      <div *ngFor="let customUserElement of selectedPattern?.customUserElementsForPattern">
        <customUserElement [element]="customUserElement"></customUserElement>
      </div>
    </div>
  </div>

  <button (click)="saveSettings()">Save settings</button>
</div>
