<div class="container">
  <button class="btn btn-outline-primary shadow-sm" (click)="saveSettings()">Сохранить настройки</button>

  <div class="shadow mt-4 p-3 mb-5 rounded">
    <h3 class="d-inline">Стандартные элементы</h3>
    <div class="mt-4 row">
      <div class="form-control col border-0">
        <mat-form-field class="d-block" appearance="outline">
          <mat-label>CUT</mat-label>
          <input name="cutElement" matInput [(ngModel)]="userSettings.cutElement">
        </mat-form-field>
        <mat-form-field class="mt-3 d-block" appearance="outline">
          <mat-label>Количество символов перед CUT</mat-label>
          <input name="textLengthBeforeCut" matInput [(ngModel)]="userSettings.textLengthBeforeCut">
        </mat-form-field>
      </div>
      <div class="form-control col border-0">
        <mat-form-field class="d-block" appearance="outline">
          <mat-label>Абзац</mat-label>
          <input name="paragraphElement" matInput [(ngModel)]="userSettings.paragraphElement">
        </mat-form-field>
        <mat-form-field class="mt-3 d-block"  appearance="outline">
          <mat-label>Класс для абзацев по центру</mat-label>
          <input name="paragraphCenterAlignClass" matInput [(ngModel)]="userSettings.paragraphCenterAlignClass">
        </mat-form-field>
      </div>
      <div class="form-control col border-0">
        <mat-form-field appearance="outline">
          <mat-label>Нумерованный\маркированный список</mat-label>
          <input name="listElement" matInput [(ngModel)]="userSettings.listElement">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="shadow mt-4 p-3 mb-5 rounded">
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="m-0">Кастомные общие элементы</h3>
      <button class="bg-success" mat-mini-fab (click)="addSharedElement()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <span class="p-2" style="color: #575757; font-size: 14px;">Для элемента который будет заменять значение необходимо установить приоритет <b>Замена</b>.</span>

    <app-customElements [customElements]="userSettings.sharedCustomUserElements" (elementChange)="elementChanged($event, -1)"></app-customElements>
  </div>
  <div class="shadow mt-4 p-3 mb-5 rounded">
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="m-0">Кастомные элементы по шаблонам</h3>
      <button class="bg-success" mat-mini-fab (click)="addElementForPattern()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <span class="p-2" style="color: #575757; font-size: 14px;">Элементы из шаблонов устанавливаются после общих элементов.</span>

    <select class="form-select mt-4" [(ngModel)]="selectedPatternId" (change)="onPatternChange()">
      <option *ngFor="let userPattern of userSettings.userPatterns" [value]="userPattern.id">{{userPattern.name}}</option>
    </select>

    <app-customElements [customElements]="selectedPattern.customUserElementsForPattern" (elementChange)="elementChanged($event, selectedPatternId)"></app-customElements>
  </div>
</div>
